@font-face {
    /*название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)*/
    font-family: "LaoSansPro-Regular"; 
    /* адрес шрифта и тип */
    src: url("../fonts/laosanspro/LaoSansPro-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
.a1{
    color: black;
}
.a1:hover{
    color: black;
}
body{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
/*header*/
.header {
    margin-top: 0px;
    margin-bottom: 100px;
    position: fixed;
    background: rgba(0, 0, 0, 25%);
    width: 100%;
    height: 85px;
    z-index: 10000;
}
.header_logo {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 0px;
    width: 25%;
    height: 60px;
}
.img_logo{
    margin-top: 5px;
    width: 50%;
}

.knopki {
    margin-right: 30px;
    margin-top: -72px;
    float: right;
    display: flex;
}
.katalog {
    width: 250px;
    height: 86px;
    display: inline-block;
}
.text_katalog {
    padding-top: 15px;
    text-align: center;    
    font-size: 36px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.5s ;
}
.katalog:hover .text_katalog{
    padding-top: 30px;
    background: rgba(0, 255, 221, 0.216);
    height: 57px;
    transition: all 0.5s ;
}
.glav {
    width: 250px;
    height: 86px;
    display: inline-block;
    
}
.text_glav {
    padding-top: 15px;
    text-align: center;
    font-size: 36px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.5s ;
}
.glav:hover .text_glav{
    padding-top: 30px;
    background: rgba(0, 255, 221, 0.216);
    height: 57px;
    transition: all 0.5s ;
}
.produkt {
    width: 250px;
    height: 86px;
    display: inline-block;
}
.text_produkt {
    padding-top: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 36px;
    transition: all 0.5s ;
}
.produkt:hover .text_produkt{
    padding-top: 30px;
    background: rgba(0, 255, 221, 0.216);
    height: 57px;
    transition: all 0.5s ;
}
/*/header*/
/*content*/
/*box_1*/
.box_1{
    display: flex;
    width: 100%;
    height: 977px;
    background-image: url(../img/Fon/fon_1.png);
    background-size: 100% 102%;
    z-index: 1;
}
.text {
    padding-left: 122px;
    padding-top: 237px;
    width: 1000px ;
    height: 500px;
}
.text_name {
    width: 500px;
    color: rgb(255, 255, 255);
    font-size: 128px;
    /* вот так нужно прописывать шрифт (выберай всегда этот) */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text_opis {
    width: 700px;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.images_1 {
    padding-top: 150px;
    width: 65%;
}
/*/box_1*/
/*box_2*/
.box_2{
    display: flex;
    width: 100%;
    height: 1000px;
    background-image: url(../img/Fon/fon_2.png);
    background-size: 100% 100%;
    z-index: 1;
    
}
.images_2 {
    margin-left: -130px;
    padding-top: 165px;
    width: 55%;
}
.text2 {
    padding-left: 150px;
    padding-top: 150px;
    width: 100% ;
    height: 700px;
}
.text_name2 {
    width: 500px;
    color: rgb(255, 255, 255);
    font-size: 64px;
    /* вот так нужно прописывать шрифт (выберай всегда этот) */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.text_opis2 {
    width: 700px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/*/box_2*/
/*box_3*/
.box_3{
    display: flex;
    width: 100%;
    height: 1000px;
    background-image: url(../img/Fon/fon_3.png);
    background-size: 100% 102%;
    z-index: 1;
}
.text3{
    padding-left: 150px;
    padding-top: 250px;
    width: 100% ;
    height: 700px;
}
.text_opis3{
    padding: 25px;
    width: 650px;
    background: rgba(0, 0, 0, 49%);
    border-radius: 105px;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*/box_3*/
/*box_4*/
.box_4{
    display: flex;
    width: 100%;
    height: 1000px;
    background-image: url(../img/Fon/fon_4.png);
    background-size: 100% 110%;
    z-index: 1;
}
.text4{
    padding-left: 150px;
    padding-top: 200px;
    width: 100% ;
    height: 700px;
}
.text_opis4{
    width: 1000px;
    color: rgb(255, 255, 255);
    font-size: 96px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*/box_4*/
/*/content*/
.footer {
    margin-top: -85px;
    margin-bottom: px;
    background: rgba(0, 0, 0, 25%);
    width: 100%;
    height: 85px;
    z-index: 10000;
}
.footer_text {
    font-size: 36px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 15px;
    margin-left: 50px;
    width: 25%;
    height: 60px;
}