.header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: sticky;
    top: 0px;
    z-index: 10;
    background: white;
    
    
    & .navbar {
        & .logo-brand {
            color: $dark;
        }
    
        & .collapse {
            & .navbar-nav {
                display: flex;
                justify-content: center;
                text-decoration: none;
                width: 100%;
            
                & .nav-links {
                    text-decoration: none;
                    width: 100%;
                    padding: 0 30px;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 27px;
                    color: $dark;
                    
                    &:hover {
                        color: $primary-color;
                        transition: 0.5s ease;
                    }
                }
                & .active {
                    color: $primary-color;
                }
            }
        }
            & .to-come-in {
                display: flex;
                justify-content: space-between;
                align-items: center;
                & a {
                    text-decoration: none;
                    color: $dark;
                    white-space: nowrap;
                    margin-right: 60px;
                    &:hover {
                        transition: 0.5s ease;
                        color: $primary-color;
                    }
                    & .bi{
                        color: $primary-color;
                    }
                }
                & .btn {
                    font-size: 25px;
                    &:hover {
                        color: $secondary-color;
                        transition: 0.5s ease;
                    }
                }
            }  
            
    }
}