$white: #ffffff;
$link: 	#00d312;
$bg: linear-gradient(90deg, #211F20 0%, rgba(68, 64, 63, 0) 100%);
$grey: #CFCFCF;
$purple: #a156df;
$dark: #000000;
$shadow: #00000017;
$btn: rgba(136, 195, 199, 0.26);
$border: rgba(36, 201, 201, 0.637);
$btn-active: #fce699;
$btn-color: #ad89f9;