// * media styles
@media (max-width: 1440px) {}
@media (max-width: 991px) {
    .checkup {
        & .row  {

            & .h4 {
                text-align: center;
            }

            & br {
                display: none;
            }
            
            & .box-1 {
                display: flex;
                align-items: center;
            }
            & .box-2 {
                display: flex;
                align-items: center;
            }
            & .box-3 {
                display: flex;
                align-items: center;
            }

        }
    }

    .navbar-nav {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px !important;

        & .nav-links {
            padding: 0 !important;
        }
    }

    .carousel {
        & .img-fluid {
            padding-top: 20px;
        }
    }

    .Feedback {
        & .row {
            display: flex;
            flex-direction: column;
            form {
                display: flex;
                flex-direction: column;
                & input {
                    margin: 10px 0;
                }
            }
        }
    }
}
@media (max-width: 768px) {}
@media (max-width: 575px) {
    .random-block {
        & .row {
            & .box {
                display: flex;
                flex-direction: column;
            }
            & .box {
                & .text {
                    width: 100%;
                }
                & .image {
                    width: 100%;
                    padding: 20px;
                }
                
                & .image-2 {
                    width: 100%;
                    padding: 20px;
                }
    
                & .text-2 {
                    width: 100%;
                    margin: 0;
                }
                
            }
        }
    }
}
@media (max-width: 375px) {}
@media (max-width: 320px) {}