// type of bread crumbs
.breadcrumb {
    
    & li+li:before {
        padding: 8px;
        color: black;
        content: "-";
      }
      
    & li {
        color: #909090;
    }

    & a {
        text-decoration: none;
        color: #000;
        &:hover {
            color: $primary-color;
        }
    }
}
.wrapper  {
    overflow: hidden !important;
}

